<!DOCTYPE html>

<p style="text-align: center;">*** *** *** *** ***</p>

<h3 style="color: blue; text-align: center;">Latest news</h3>

<p style="color: red; text-align: left;"><strong>Aug. 14, 2018: New article published in Chemical Physics, Elsevier.</strong></p>

<h4><a href="https://www.sciencedirect.com/science/article/pii/S0301010418306980" target="_blank">Exploring the Mechanism of Diphenylmethanol Oxidation: A Combined Experimental and Theoretical Approach</a></h4>

<p><strong>Sunil Paul M. Menachery</strong>, Thao P. Nguyen, Pramod Gopinathan, Usha K. Aravind, Charuvila T. Aravindakumar</p>

<h4 style="color: red; text-align: left;">Graphical abstract</h4>

<p style="color: blue; text-align: center;"><a href="https://github.com/sunilpaulmathew/sunilpaulmathew.github.io/blob/master/asset/pic023.jpg?raw=true" target="_blank"><img src="https://github.com/sunilpaulmathew/sunilpaulmathew.github.io/blob/master/asset/pic023.jpg?raw=true" alt="" width="500" height="230" /></a></p>
