<!DOCTYPE html>

<hr>

<h3 style="color: red; text-align: left;">Latest News</h3>

<p style="text-align: left;"><strong>May 13, 2019: New article published in ES&T, ACS</strong> (<a href="{{ site.github.url }}/news/">Read More</a>).</p>

<p><a href="https://pubs.acs.org/doi/10.1021/acs.est.8b06659" target="_blank">Simultaneous and synergic production of bioavailable iron and reactive iodine species in ice</a><br>Kitae Kim, <strong>Sunil Paul M. Menachery</strong>, Jungwon Kim, Hyun Young Chung, Daun Jeong, Alfonso Saiz-Lopez, Wonyong Choi</p>
