<!DOCTYPE html>

<hr>

<h3 style="color: red; text-align: left;">Latest News</h3>

<p style="text-align: left;"><strong>September 23, 2019: New article published in J. Hazard. Mater., Elsevier</strong> (<a href="{{ site.github.url }}/news/">Read More</a>).</p>

<p><a href="https://doi.org/10.1016/j.jhazmat.2019.121298" target="_blank">Halide-Induced Dissolution of Lead(IV) Oxide in Frozen Solution</a><br><strong>Sunil Paul M. Menachery</strong>, Dae Wi Min, Daun Jeong, Charuvila T. Aravindakumar, Woojin Lee, Wonyong Choi</p>
