<!DOCTYPE html>

<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="{{ site.github.url }}">Home</a>
  <a href="{{ site.github.url }}/research/">Research</a>
  <a href="{{ site.github.url }}/publications/">Publications</a>
  <a href="{{ site.github.url }}/achievements/">Achievements</a>
  <a href="{{ site.github.url }}/news/">News</a>
  <a href="{{ site.github.url }}/contacts/">Contacts</a>
</div>

<p style="margin-bottom:40px;"></p>
